h1{
  color: red;
}
h2{
  color: blue;
}
h3{
  font-style: bold;
  color: green;
}
.a{
  margin-bottom: 20px;
}

label{
  display: block;
}

.forma{
  height: 100px;
  width: 300px;
  background-color: blue;
  border-radius: 10px;
  border: solid black 2px;
  text-align: center;
  vertical-align: middle;
  color: white;
}